body {font-family: helvetica; font-size: 18px; width: 800px; margin: auto;}

img { max-width:600px}

h1
 {font-family : helvetica;
 color: green;
 font-size: 25px;
 }

.Headline {
	font-family: helvetica;
	color: pink;
	}
	
	H2
	{font-family: helvetica;
	color: rgb(130,255,150)}
	